<div layout="column" ng-cloak flex="100" class="boleto" ng-init="vm.init()">
    <div layout="column" layout-align="start stretch" class="content">
        <form name="formSearch" class="filter">
            <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
            <div layout="row" layout-align="center" layout-wrap>
                <md-input-container flex="15" flex-xs="50">
                    <label>Ano (Vencimento)</label>
                    <input ng-model="vm.filter.ano" type="number">
                </md-input-container>

                <md-input-container flex="20" flex-xs="50">
                    <label>Mês (Vencimento)</label>
                    <md-select ng-model="vm.filter.mes">
                        <md-option ng-value="-1">
                            <em>Todos</em>
                        </md-option>
                        <md-option ng-repeat="option in vm.filter.months" ng-value="$index">
                            {{vm.filter.months[$index]}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex="20" flex-xs="40" ng-if="!globals.currentUser.session.perfilpassageiro">
                    <label>CPF</label>
                    <input name="CPF" ng-model="vm.filter.CPF" ui-br-cpf-mask>
                    <div ng-messages="formSearch.CPF.$error" multiple md-auto-hide="false">
                        <div ng-message="cpf">CPF inválido.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex flex-xs="60" ng-if="!globals.currentUser.session.perfilpassageiro">
                    <label>Nome</label>
                    <input ng-model="vm.filter.NOME">
                </md-input-container>
            </div>
        </form>

        <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.boleto.selected.length">
            <div class="md-toolbar-tools">
                <span>Boletos</span>
                <span flex></span>
                <md-button class="md-primary" ng-click="vm.create()">
                    <md-icon>add</md-icon>
                    <span>Adicionar<span>
                </md-button>
                <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                    <md-icon>refresh</md-icon>
                    Atualizar
                </md-button>
                <!-- >md-button class="md-primary" ng-click="vm.getData({reset: true})" hide show-xs>
                    <md-icon>search</md-icon>
                    Pesquisar
                </md-button> -->
            </div>
        </md-toolbar>

        <md-toolbar class="md-accent md-hue-1" ng-show="vm.boleto.selected.length">
            <div class="md-toolbar-tools">
                <span>{{vm.boleto.selected.length}} {{vm.boleto.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
                    <span flex></span>
                    <md-button class="md-primary">
                        <md-icon>email</md-icon>
                        Enviar boleto
                    </md-button>
            </div>
        </md-toolbar>


        <md-table-container layout="column">
            <!-- class="fix-head" -->
            <div class="overflow">
                <table md-table md-row-select="true" multiple="false" ng-model="vm.boleto.selected" md-progress="vm.boleto.promise">
                    <thead md-head md-order="vm.boleto.order">
                        <!-- fix-head  -->
                        <tr md-row hide-xs hide-sm>
                            <th md-column><span></span></th>
                            <th md-column md-order-by=""><span>Vencimento</span></th>
                            <th md-column md-order-by=""><span>E-mail</span></th>
                            <th md-column md-order-by=""><span>Nome</span></th>
                            <th md-column md-order-by=""><span>CPF</span></th>
                            <th md-column md-order-by=""><span>Código de barras</span></th>
                        </tr>
                    </thead>

                    <tbody md-body hide-xs hide-sm>
                        <tr ng-disabled="true" md-row md-select="item" md-select-id="BOL_ID" ng-repeat="item in vm.boleto.data | orderBy: vm.boleto.order">
                            <td md-cell>
                                <md-button class="md-icon-button" ng-click="vm.showPdf(item)">
                                    <md-icon>search</md-icon>
                                </md-button>
                            </td>
                            <td md-cell>{{item.BOL_VENCIMENTO | date : 'dd/MM/yyyy'}}</td>
                            <td md-cell>
                                <div layout="row" layout-align="center center">
                                    <md-button ng-class="{'md-warn': !item.BOL_EMAIL_ENVIADO}" class="email-info">
                                        <md-icon ng-if="!item.BOL_EMAIL_ENVIADO">
                                            warning
                                        </md-icon>
                                        <md-tooltip ng-if="!item.BOL_EMAIL_ENVIADO" md-direction="top">
                                            {{item.USU_EMAIL === '' ? 'E-mail não cadastrado' : 'E-mail não enviado'}}
                                        </md-tooltip>
                                        <!-- to.do: <span ng-if="item.USU_EMAIL === ''">
                                        Cadastrar e-mail ng-show="!item.BOL_EMAIL_ENVIADO"
                                    </span> -->
                                        {{item.USU_EMAIL}}
                                    </md-button>
                                </div>
                            </td>
                            <td md-cell>{{item.BOL_NOME}}</td>
                            <td md-cell nowrap>{{item.BOL_CPF | brCpf}}</td>
                            <td md-cell>{{item.BOL_CODIGO_BARRA}}</td>

                        </tr>
                    </tbody>

                    <tbody md-body hide show-xs show-sm>
                        <tr ng-disabled="true" md-row md-select="item" md-select-id="BOL_ID" ng-repeat="item in vm.boleto.data | orderBy: vm.boleto.order">
                            <td md-cell>
                                <md-card>
                                    <md-card-content>
                                        <table>
                                            <tr>
                                                <th md-order-by="">Vencimento</th>
                                                <td>{{item.BOL_VENCIMENTO | date : 'dd/MM/yyyy'}}</td>
                                            </tr>
                                            <tr>
                                                <th md-order-by="">Valor</th>
                                                <td>{{item.BOL_VALOR}}</td>
                                            </tr>
                                            <tr>
                                                <th md-order-by="">Nome</th>
                                                <td>{{item.BOL_NOME}}</td>
                                            </tr>
                                            <tr>
                                                <th md-order-by="">CPF</th>
                                                <td>{{item.BOL_CPF | brCpf}}</td>
                                            </tr>
                                            <tr>
                                                <th md-order-by="">Código de barras</th>
                                                <td>{{item.BOL_CODIGO_BARRA}}</td>
                                            </tr>

                                            <tr>
                                                <th>E-mail</th>
                                                <td>
                                                    <div layout="row" layout-align="start center">
                                                        <div ng-class="{'md-warn': !item.BOL_EMAIL_ENVIADO}" class="email-info">
                                                            <md-icon ng-if="!item.BOL_EMAIL_ENVIADO">
                                                                warning
                                                            </md-icon>
                                                            <md-tooltip ng-if="!item.BOL_EMAIL_ENVIADO" md-direction="top">
                                                                {{item.USU_EMAIL === '' ? 'E-mail não cadastrado' : 'E-mail não enviado'}}
                                                            </md-tooltip>
                                                            <!-- to.do: <span ng-if="item.USU_EMAIL === ''">
                                                                Cadastrar e-mail ng-show="!item.BOL_EMAIL_ENVIADO"
                                                            </span> -->
                                                            {{item.USU_EMAIL}}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </md-card-content>
                                    <md-card-actions layout="row">
                                        <md-button ng-if="!item.readonly" class="md-raised md-primary" ng-click="vm.showPdf(item)" flex>
                                            <md-icon>search</md-icon>
                                            Visualizar boleto
                                        </md-button>
                                    </md-card-actions>
                                </md-card>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </md-table-container>

        <div>
            <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.boleto.limit" md-page="vm.boleto.page" md-total="{{vm.boleto.total}}" md-page-select md-on-paginate="vm.boleto.pagination"></md-table-pagination>
        </div>
    </div>
</div>